/* CSS for FlashCard Page */

.fcpage-body{
    margin:0;
    background-color:#3C096C;
    min-height: 100vh;
    display: flex;
    flex-direction: coloum;
    font-family: Roboto;


    

}

.fcpage-header{
    /* width: 1000px; */

}

.nav-bar{
    background-color: #C8B6FB;
    margin:0;
    text-align: left;
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
   
}

.nav-bar h1{
    font-size: 90%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.nav-headings{
    font-size: 90%;
    margin-left: 20px;
    margin-top: 0;
}

.subjects{
    font-size: 90%;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}


.sub-topics ul{
    list-style-type: none;
    gap: 20px;
    font-size: 12px;
    font-family: Roboto;
    margin-left: 0;
    margin-top: 0;
    font-weight: 600;
}



.flash-card-stack{
   position: relative;
   margin: 200px 320px;
   
  
}

.flash-card{
    position: absolute;
    width: 700px;
    height: 400px;
    margin: 0 ;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px 2px rgba(122, 121, 121, 0.3); */
    background-color: #9B72CF;
}

.card-1{
    position: absolute;
    top:0;
    left:0;
    z-index:3;
    opacity: 1;
}


.card-2{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: -20px;
    opacity: 20%;
}

.card-3{
    position: absolute;
    top: 35px;
    left: -45px;
    z-index: 3;
    opacity: 20%;
    box-shadow: 5px 5px 5px 2px rgba(122, 121, 121, 0.3);
 }
 




/* CSS for Libraries */

.Library-items {
    background-color: aqua;
    width: 250px;
    height: 200px;
    display: inline-block;
    margin: 1%;
    border-radius: 4px;
    
}

.Library-title {
    margin-top: 20%;
    text-align: center;

}

.Library-items:hover {
    color: bisque;
    background-color: bisque;
    
}

.Library-content {
    background-color: blue;
    margin-left: .8%;
    margin-right: .8%;
}

.Library-body {
    background-color: blue;
    display:grid;
    margin:0;


}

.Library-header {
    background-color: brown;
    margin: 0;
    padding: 0;
    height: 120%;

  

}

.gear {
    width: 50px;
    height: 50px;
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;
}



.front-body {
    background-color: aqua;
    

}


.front-name {
    background-color: antiquewhite;
    font-size: 380%;
    display: inline-block;
    padding: 10%;
    padding-bottom: 5%;

}

.front-upload {
    background-color: brown;
    display: inline-block;
    width: 20%;
    height: 200%;
    padding: 5%;
    margin-left: 10%;

}

.front-upbutton {
    padding: 3% 10% 3% 10%;

}

.front-library {
    padding: 1% 3% 1% 3%;
    margin-left: 20%;
}

.front-section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.front-recentH1 {

    font-size: 250%;

}

.front-recent {

    padding-top: 5%;

}